@charset "UTF-8";
/* CSS Document */

#project-information h1, .sub-nav dt a:hover, .sub-nav dd a:hover, .sub-nav li a:hover, .reveal-modal .close-reveal-modal {
	color:#f25252;
}

#project-information .project-type, #project-information .project-components, .previous-links p a, footer a {
	color:#efc94c;
}

.previous-links p a:hover {
	color:#f2ba2e;
}

.next-links p a {
	color:#3aa1bf;
}

.next-links p a:hover {
	color:#32849c;
}

footer {
	background:#f25252;
}

footer p a:hover, footer a:hover {
	color:#d14545;
}

.top-bar-section li a:not(.button) {
	background:#f25252;
}

.top-bar-section li:not(.has-form) a:not(.button):hover {
	background:#d14545;
}

.top-bar .toggle-topbar.menu-icon a::after {
	-webkit-box-shadow: 1px 10px 1px 1px #f25252, 1px 16px 1px 1px #f25252, 1px 22px 1px 1px #f25252;
	box-shadow: 0 9px 0 1px #f25252, 0 16px 0 1px #f25252, 0 23px 0 1px #f25252;
}
