@charset "UTF-8";
/* CSS Document */

.column {
	padding:0;
}

#home {
	height:100vh;
	position:relative;
}

.home-content {
	margin: 0;
    position: absolute;
    top: 50%;                         
    transform: translate(0, -50%);
	-webkit-transform: translate(0, -50%);
}

h1 {
	padding-top:10px;
	padding-bottom:30px;
}

#projects {
	padding: 50px 5% 75px;
}

.magellan-nav {
	background:none;
}

.sub-nav dt a, .sub-nav dd a, .sub-nav li a {
	color:red;
}

.sub-nav dt a:hover, .sub-nav dd a:hover, .sub-nav li a:hover {
	color:yellow;
}

.sub-nav dt.active a, .sub-nav dd.active a, .sub-nav li.active a {
	background:green;
}

.sub-nav dt.active a:hover, .sub-nav dd.active a:hover, .sub-nav li.active a:hover {
	background:pink;
	color:white;
}

.project-image {
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-filter: grayscale(100%); 
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: grayscale(100%);
	
}

.project-image:hover {
    -webkit-filter: grayscale(0%); 
	-moz-filter: grayscale(0%);
	-ms-filter: grayscale(0%);
	-o-filter: grayscale(0%);
	filter: grayscale(0%);
}

#about {
	padding: 75px 5%;
}

#contact {
	padding: 75px 5%;
}

.bottom {
	padding: 50px 5%;
	margin-bottom:100px;
}
 
small {
	transform: rotate(-90deg);
	padding-top:50px;
}

#project-information {
	padding: 50px 5% 0px;
}

#project-images {
	padding: 50px 5% 75px;
}

#project-images img {
    -webkit-filter: grayscale(100%); 
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: grayscale(100%);
}

#project-images img:hover {
    -webkit-filter: grayscale(0%); 
	-moz-filter: grayscale(0%);
	-ms-filter: grayscale(0%);
	-o-filter: grayscale(0%);
	filter: grayscale(0%);
}

#more-projects img {
    -webkit-filter: grayscale(100%); 
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: grayscale(100%);
}

#more-projects img:hover {
    -webkit-filter: grayscale(0%); 
	-moz-filter: grayscale(0%);
	-ms-filter: grayscale(0%);
	-o-filter: grayscale(0%);
	filter: grayscale(0%);
}

.project-1, .project-2, .project-3, .project-4, .project-5, .project-6 {
	padding:20px;
}

.project-1:hover, .project-2:hover, .project-3:hover, .project-5:hover, .project-4:hover, .project-6:hover {
	border-style:solid;
	border-color:#efc94c;
	padding:17px;
}


.project-description {
	padding-top:75px;
	padding-left:20px;
	padding-right:20px;
}

#project-blurb {
	padding-top:200px;
	
}

#more-projects {
	padding: 0px 5% 75px;
}

#more-projects img {
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
}

.next-previous-links {
	padding-top:50px;
}

@media only screen and (min-width: 40.063em) and (max-width: 64em) {
	
	.project-description {
		padding-top:1em;
		padding-left:15px;
		padding-right:15px;
	}
	
	#home {
		background-size:cover;
	}

	#projects {
		padding: 30px 5% 50px;
	}
	
	#about {
		padding: 50px 5%;
	}
	
	#contact {
		padding: 50px 5%;
	}
	
	.bottom {
		padding: 50px 5%;
		margin-bottom:75px;
	}
	 
	small {
		transform: rotate(-90deg);
		padding-top:50px;
	}
	
	#project-information {
		padding: 50px 5% 0px;
	}
	
	#project-images {
		padding: 50px 5%;
	}
	
	#project-blurb {
		padding-top:60px;
	}
	
	#more-projects {
		padding: 0px 5% 50px;
	}
	
	.next-previous-links {
	padding-top:0px;
	}
}

@media only screen and (max-width: 40em) {
	
	.logo {
		margin-top:-7px;
		padding-left:13px;
		padding-top:18px;
		height:42px;
	}
	
	#home {
		height:100vh;
		position:relative;
	}
	
	.home-content {
	   margin: 0;
	   position: absolute;
	   top: 50%;                         
	   transform: translate(0, -50%)
	}
	
	.project-description {
		padding-top:10px;
		padding-left:15px;
		padding-right:15px;
		padding-bottom:30px;
	} 
	
	.project-image {
		border-radius:0;
		-webkit-border-radius:0;
		-moz-border-radius:0;
		-webkit-filter: grayscale(0%); 
		-moz-filter: grayscale(0%);
		-ms-filter: grayscale(0%);
		-o-filter: grayscale(0%);
		filter: grayscale(0%);
	}
	
	#project-images img {
		border-radius:0;
		-webkit-border-radius:0;
		-moz-border-radius:0;
		-webkit-filter: grayscale(0%); 
		-moz-filter: grayscale(0%);
		-ms-filter: grayscale(0%);
		-o-filter: grayscale(0%);
		filter: grayscale(0%);
	}
	
	#more-projects img {
		-webkit-filter: grayscale(0%); 
	-moz-filter: grayscale(0%);
	-ms-filter: grayscale(0%);
	-o-filter: grayscale(0%);
	filter: grayscale(0%);
	}

	#projects {
		padding: 30px 5% 0px;
	}

	
	.project-1, .project-2, .project-3, .project-4, 			.project-5, .project-6 {
		padding:0;
	}

	.project-1:hover, .project-2:hover, .project-3:hover, .project-5:hover, .project-4:hover, .project-6:hover {
		border-style:none;
		border-color:#efc94c;
		padding:0px;
	}

	#about {
		padding: 30px 5%;
	}

	#contact {
		padding: 30px 5%;
	}

	.bottom {
		padding: 30px 5%;
		margin-bottom:70px;
	}
 
	small {
		transform: rotate(-90deg);
		padding-top:50px;
	}
	
	#project-information {
		padding: 0px 5%;
	}
	
	#project-information h1 {
		padding-top:30px;
	}
	
	#project-images {
		padding: 30px 5%;
	}

	#project-blurb {
		padding-top:30px;
	}
	
	#more-projects {
		padding: 0px 5% 30px;
	}
	
	#more-projects p {
		padding-top:30px;
	}
	
	.next-previous-links {
		padding-top:0px;
	}
}